input {
    margin-right: 25px;
}

#information-container {
    display: flex;
}

.information {
    margin: 0 10px;
}

.actions-container {
    background: #ccc3b6;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}
